<meta charset="UTF-8" />
 
<style type="text/css">
a:link    {color:#0088DD;}
a:visited {color:#0088DD;}
a:hover   {color:#005580;}
a:active  {color:#00DD00;}
</style>
 
<h1 style="text-align:center; ">關於本站</h1>
 
<div style="line-height:32px;">
<div>＊本網頁修改自hackfoldr，並且設計成仿造模板，變為完全透過手動修改HTML的方式呈現本網頁，代替使用第三方驅動引擎(node.js及Apache)來產生Localhost的動態式網頁。</div>
<div>＊hackfoldr的原始碼，請點擊在右上角的&quot;本站原始碼&quot;，程式碼授權依照其原本的hackfoldr授權，為<a href="https://creativecommons.org/publicdomain/zero/1.0/deed.zh_TW" target="_blank">CC0 1.0 通用</a>。</div>
<div>＊本網頁僅收集以下有網頁呈現(HTML Demo)專案：<br />1.網址帶有g0v字樣的專案。<br />2.有參與或貢獻g0v，自己有開發相關專案但該專案掛在自己名下的專案。<br />3.符合上述兩項，且符合g0v成立宗旨的專案。
<div>＊本網頁不再支援Internet Explorer 8及更早以前的版本，請使用Google Chrome或Firefox等瀏覽器瀏覽本網頁。</div>
<div>＊本網頁沒有設計手機(平板電腦)版瀏覽，造成手機(平板電腦)使用者不便，敬請見諒。</div>
<!--備份
<div></div>
-->
</div>